*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(95, 93, 93);
    display: flex;
   flex-direction:column;
   align-items:center;
   gap: 15px;
    
}
.header{
    display: flex;
    justify-content:space-between;
    padding-top: 40px;
    width: 80%;
    align-items: center;
   
}
.logo-and-title{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo{
    height: 70px;
}
#title{
    color: white;
    font-size: 35px;
    letter-spacing: 6px;
}

.header-buttons{
    display: flex;
    gap: 22px;
   padding-right: 30px;
}

.header-buttons img {
    height: 40px;
   
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 15px;
    
    
}

table{
    width: 100%;
    height: 600px;
    background-color: rgb(248, 238, 238);
    border-collapse: collapse;
   
}
thead{
    height: 30px;
    background-color: rgb(49, 49, 49);
    color: white;
}

thead a{
    color: white;
    text-decoration: none;
}


tbody{
    background-color: rgb(118, 126, 126);
    
}
tbody tr{
   height: 20px;
}

tfoot{
    height: 80px;
    background-color: rgb(49, 49, 49);
    width: 100%;
   
}


.table-icons{
    letter-spacing: 14px;
    gap: 15px;
  
    justify-content: center;
    
}
.table-icons img{
    height: 25px;
}

#status a{
    text-decoration: none;
    color: rgb(147, 167, 204);
}
#table-footer-icons-delete img{
 height: 30px;
 padding-left: 10px;
 
}

#table-footer-icons-book img, #table-footer-icons-recycle img {
    height: 50px;
}
.statistics{
  display: flex;
  justify-content:space-between;
}

.statistics-holder{
    background-color: rgb(49, 49, 49);
    width: 160px;
    height: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
}

.statistics-holder p {
    font-size: 28px;
    font-weight: bold;
}

.statistics-holder h4 {
    font-weight: lighter;
}

.footer{
    padding-top: 20px;
    margin-bottom: 20px;
    color: white;
    letter-spacing:5px;
}

#add-book-window{
    height: 430px;
    width: 340px;
    background-color: rgb(114, 113, 114);
    position: absolute;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    
    
}

#add-book-window h3{
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 50px;
   
    
}

.close {
    font-size: 35px;
    font-weight: 600;
    color: rgb(111, 167, 204);
   
  }
#close-button{
   height: 38px;
   width: 30px;
   float: right;
   background-color: rgb(114, 113, 114);
   border: none;
   margin-right: 10px;
   margin-top: 5px;
   

    
  
  
}
#new-book{
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr  ; 
    justify-content: center; 
    gap: 20px;
    color: white;
    letter-spacing: 4px;
    
}

#new-book input{
    padding:2px;
}

#add-book-button{
 grid-column-start: 1;
 grid-column-end: span 2;
padding: 5px;
}